/* Contenido general */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('assets/fondo.jpg') center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Recuadro semi-transparente negro */
.overlay {
  position: absolute;
  width: 90%;
  max-width: 800px;
  height: 60%;
  background: rgba(0,0,0,0.4);
  border-radius: 20px;
  z-index: 1;
}

/* Recuadro beige con texto e imagen */
.content {
  position: relative;
  background: #f9f1e7;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  z-index: 2;
  max-width: 300px;
}

.mask-wrapper {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.mask-hole {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0 0 0 1000px black; /* El fondo fuera del círculo */
  animation: expandHole 2s ease-out forwards;
}

/* Suaviza la expansión del círculo */
@keyframes expandHole {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(30);
  }
}
